<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>
<br/>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>
                        <h4>投诉建议</h4>
                    </label>
                    <span class="pull-right">
                            <button class="btn btn-success btn-sm" ng-click="send()">
                                立即发送
                                &nbsp; <i class="fa fa-send fa-fw"></i>
                            </button>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control wmd-panel" style="width: 100%; height: 600px;margin-bottom:10px;resize: none; " ng-model="edit_content" placeholder="多谢您的建议,我们会努力做得更好"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
