<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<!--<div ng-show="article">
    <nav class="posts-navigator thin-scroll">
        <ul class="posts-pin"></ul>
        <ul class="posts-list">
            <div class="loading-indicator">
                <span class="loader-dot"></span>
                <span class="loader-dot"></span>
                <span class="loader-dot"></span>
            </div>
        </ul>
    </nav>
</div>-->
<div class="row">

    <div class="col-md-12  clear-padding">
        <div class="banner has-dots">
            <ul>
                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/sunset.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>时光留书</h1>
                        <p>为所有人提供条件设定式的生活方案</p>
                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>
                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/wood.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>可控，稳定</h1>
                        <p>放慢社交速度，回归社交本质</p>

                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>

                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/subway.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>悠闲，自在</h1>
                        <p>在这里，您可以暂时放下喧嚣，放慢生活的节奏，不用担心手机丢掉而错过亲朋好友的生日</p>

                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12  clear-padding">
        <div class="content panel panel-default">
            <div class="panel-body clear-padding">
                <br/>
                <br/>
                <div class="container">
                    <div class="row ">
                        <div class="col-sm-6 col-md-4 col-lg-4 ">
                            <div class="thumbnail" ng-click="to_view()">
                                <a href="../letter.html?id=123">
                                    <img class="lazy" src="../asserts/img/time/2.jpg" width="300" height="150">
                                </a>
                                <div class="caption">
                                    <h3> 
                                        <a>最美情书<br><small>史上最美的情书</small></a>
                                    </h3>
                                    <p>
                                        一封来自天堂的情书，写给那些年最爱的女孩，揭秘那些年最想说的话
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 ">
                            <div class="thumbnail" ng-click="to_view()">
                                <a href="../letter.html?id=2">
                                    <img class="lazy" src="../asserts/img/time/1.jpg" width="300" height="150">
                                </a>
                                <div class="caption">
                                    <h3> 
                                <a>未来的你<br><small>预言成真，不服来辩</small></a>
                            </h3>
                                    <p>
                                        预言十年后，我会成为你
                                        <br>嚣张，可爱，有点二
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 ">
                            <div class="thumbnail" ng-click="to_view()">
                                <a href="../letter.html?id=3">
                                    <img class="lazy" src="../asserts/img/time/3.jpg" width="300" height="150">
                                </a>
                                <div class="caption">
                                    <h3> 
                                <a>最好的回忆<br><small>过往的今天</small></a>
                            </h3>
                                    <p>
                                        理想不死，奋斗不止
                                        <br>去实践
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'layout/footer/footer.html'"></div>

</html>
