<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<!--<div ng-show="article">
    <nav class="posts-navigator thin-scroll">
        <ul class="posts-pin"></ul>
        <ul class="posts-list">
            <div class="loading-indicator">
                <span class="loader-dot"></span>
                <span class="loader-dot"></span>
                <span class="loader-dot"></span>
            </div>
        </ul>
    </nav>
</div>-->
<div class="row">

    <div class="col-md-12  clear-padding">
        <div class="banner has-dots">
            <ul>
                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/sunset.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>时光留书</h1>
                        <p>为所有人提供条件设定式的生活方案</p>
                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>
                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/wood.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>可控，稳定</h1>
                        <p>放慢社交速度，回归社交本质</p>

                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>

                <li style="width: 33.33%; background-image: url(http://www.bootcss.com/p/unslider/img/subway.jpg); background-size: 100% 100%;">
                    <div class="inner">
                        <h1>悠闲，自在</h1>
                        <p>在这里，您可以暂时放下喧嚣，放慢生活的节奏，不用担心手机丢掉而错过亲朋好友的生日</p>

                        <a class="btn" ng-click="to_editor()">去写一封</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12  clear-padding">
        <div class="content panel panel-default">
            <div class="panel-body clear-padding">
                <br/>
                <br/>
                <div class="container">
                    <div class="row ">
                        <div class="col-sm-6 col-md-4 col-lg-4 cursor" ng-repeat="letter in letters">
                            <div class="thumbnail" ng-click="to_view(letter.id)">
                                <a>
                                    <img class="lazy " ng-src="{{letter.img}}" width="300" height="150">
                                </a>
                                <div class="caption">
                                    <h3> 
                                        <a>{{letter.title}}<br><small>{{letter.small}}</small></a>
                                    </h3>
                                    <p>
                                        {{letter.preview}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'layout/footer/footer.html'"></div>

</html>
