<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../asserts/css/layout/footer.css">
</head>
<!-- Footer starts -->
<div id="ft">
    <div id="footer" class="wp cl">
        <dl class="ft_list">
            <dt>时光留书</dt>
            <dd><a target="_blank">关于我们</a>
            </dd>
            <dd><a target="_blank">注册协议</a>
            </dd>
            <dd><a target="_blank">版权隐私</a>
            </dd>
            <dd><a target="_blank">免责声明</a>
            </dd>
            <dd><a target="_blank">投诉建议</a>
            </dd>
        </dl>
        <dl class="ft_list">
            <dt>商务</dt>
            <dd><a target="_blank">广告推广</a>
            </dd>
            <dd><a target="_blank">招聘服务</a>
            </dd>
        </dl>
        <dl class="ft_list">
            <dt>微博</dt>
            <dd><a target="_blank">腾讯微博</a>
            </dd>
            <dd><a target="_blank">新浪微博</a>
            </dd>
        </dl>
        <dl class="ft_list">
            <dt>合作伙伴</dt>
            <dd>
                <a href="http://www.teambition.com/" target="_blank">
                    Teambition
                </a>
            </dd>
            <dd>
                <a href="http://www.github.com/" target="_blank">
                    GitHub
                </a>
            </dd>
        </dl>
        <div id="ft_copyright">
            <p class="mb10 indent">
                时光留书是一个为用户打造的私人生活规划管家，她让天下没有难做的事。她让你的生活悠闲起来，你再也不必为未来那些不确定买单，一切尽在掌控。
            </p>
            <p class="align_r">Copyright © <a href="./">timecute.com</a> All Rights Reserved</p>
            <p class="align_r"> <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14035655号-2</a><span id="tcss"></span>
            </p>
            <p class="align_r"></p>
            <span id="tcss"></span>
        </div>
    </div>
</div>

<!-- Footer ends -->