<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>
<br/>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 1.4em;color:white;background-image: url(../asserts/img/time/paper/5.png)">
                    <div class="row">
                        <div class="col-md-12">
                            最美情书
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-sm">我也要写</button>
                                <span class="btn btn-success btn-sm fa fa-pencil" title="发送" ng-click="send()"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="font-size: 1.4em;min-height:620px;background-image: url(../asserts/img/time/paper/1.png)">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="preview" style="width: 100%;" ng-bind-html="letter.words">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="color:white;background-image: url(../asserts/img/time/paper/5.png)">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            来自：叶孤城
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
